{% extends "layout.html" %}

{% block title %}
    Flack Messaging Service
{% endblock %}

{% block content %}

    <h2>Create a new channel..</h2>
    <form action="/create-channel" method="POST">
        <div class="form-group">
            <input type="text" class="form-control" name="channel" id="channel">
        </div>
        <button class="btn btn-primary" type="submit">Create channel</button>
    </form>

    <div class="dropdown-divider"></div>

    <h2>Join an existing channel..</h2>
    <div class="container results-container">
        {% if channels %}
            {% for channel in channels %}
                <div class="card border-primary mb-3 text-center">
                    <div class="card-body">
                        <h4 class="card-title">{{channel}}</h4>
                    </div>
                    <div class="card-footer">
                        <a href="/channel/{{ channel }}" id="join">Join</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div><h5>No channel created yet!</h5></div>
        {% endif %}
    </div>
        
    <script>
        if (localStorage.getItem('last_channel')) {
            let channel = localStorage.getItem('last_channel');    
            window.location.replace('/channel/' + channel);   
        }
    </script>

{% endblock %}